/* Colors */
$color-primary: #f87171;

/* Fonts */
$font-base: Avenir, Helvetica, Arial, sans-serif;


/* Easings */
$easing-base: cubic-bezier(0.5, 0.2, 0.3, 1);
$easing-sharp: cubic-bezier(0.1, 0.65, 0, 0.99);

